pandas
SQLAlchemy
psycopg2-binary    
PyYAML
schedule           
python-dotenv       
loguru              
scikit-learn 
scipy 
matplotlib
imbalanced-learn
tqdm
seaborn
requests
telethon
cryptography
openai
tiktoken
ccxt
joblib
numpy
lightgbm
xgboost
plotly
python-coinmarketcap
eth-abi